/* * {
  margin: 0;
  padding: 0;
  boz-sizing: border-box;
} */
/* body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: black;
} */
@property --eyelid {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --eyelid2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
.peye {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
@media (max-width: 980px) {
  .peye {
    display: none;
  }
}
.eyes {
  width: 250px;
  padding-block: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  div {
    position: relative;
    width: 90px;
    aspect-ratio: 1;
    background: white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 116%;
      height: 165%;
      left: 50%;
      animation: eyelid 5s ease-in-out infinite;
      z-index: 1;
    }
    &:before {
      top: 0;
      border-radius: 0% 0% 40% 40%;
      transform: translateY(var(--eyelid)) translateX(-50%);
      border-bottom: 40px solid rgb(11, 2, 32);
    }
    &:after {
      bottom: 0;
      border-radius: 40% 40% 0% 0%;
      transform: translateY(var(--eyelid2)) translateX(-50%);
      border-top: 40px solid rgb(11, 2, 32);
    }
    i {
      position: absolute;
      width: 60px;
      aspect-ratio: inherit;
      background: rgb(11, 2, 32);
      border-radius: inherit;
    }
  }
}
@keyframes eyelid {
  0% {
    --eyelid: -50%;
    --eyelid2: 50%;
  }
  3% {
    --eyelid: 0%;
    --eyelid2: 0%;
  }
  6% {
    --eyelid: -50%;
    --eyelid2: 50%;
  }
  9%,
  100% {
    --eyelid: 0%;
    --eyelid2: 0%;
  }
}

@property --hue {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
/* div {
  box-sizing: border-box;
} */
.cont {
  --clr: #47ceff;
  --clr: hsl(var(--hue) 80% 80%);
  color: var(--clr);
  filter: drop-shadow(0 0 2vmin currentcolor);
  animation: clr-chg infinite 10s linear;
}
@keyframes clr-chg {
  from {
    --hue: 0deg;
  }
  to {
    --hue: 360deg;
  }
}
.box,
.box-inner {
  --ang: 45deg;
  width: 40vmin;
  aspect-ratio: 1;
  transform-style: preserve-3d;
  position: relative;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 5vmin,
    var(--clr) 5vmin 10vmin
  );
  &:before,
  &:after {
    position: absolute;
    inset: 0;
    content: "";
    background-image: repeating-linear-gradient(
      var(--ang),
      transparent,
      transparent 5vmin,
      var(--clr) 5vmin 10vmin
    );
  }
  &:before {
    transform-origin: bottom left;
    rotate: x 90deg;
  }
  &:after {
    transform-origin: top left;
    rotate: x -90deg;
    --ang: -45deg;
  }
}
.box {
  rotate: 1 1 1 45deg;
  animation: rot infinite 10s linear;
}
@keyframes rot {
  to {
    transform: rotatex(360deg) rotatey(360deg) rotatez(360deg);
  }
}
.box-inner {
  position: absolute;
  translate: 0 0 -40vmin;
  rotate: 1 1 0 180deg;
}
