:root {
  --color: #95f9fe;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body {
  margin: 0;
  padding: 0;
  /* display: block; */
  overflow: auto;
  height: 100%;
  /* background: url(Desktop_main.png); */
  background-color: rgb(11, 2, 32);
  color: #fff;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #083d77;
  background-image: -webkit-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.25) 75%,
    transparent 75%,
    transparent
  );
}

body::-webkit-scrollbar-thumb {
  border-radius: 12px 12px 12px 12px;
  background-color: #f95738;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.25) 75%,
    transparent 75%,
    transparent
  );
}
.popup.active::-webkit-scrollbar {
  display: none;
  width: 10px;
}

.popup.active::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #083d77;
  background-image: -webkit-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.25) 75%,
    transparent 75%,
    transparent
  );
}

.popup.active::-webkit-scrollbar-thumb {
  border-radius: 12px 12px 12px 12px;
  background-color: #f95738;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.25) 75%,
    transparent 75%,
    transparent
  );
}

#spiderCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/* @media (max-width: 600px) {
  #spiderCanvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
  }
} */
.social-icon {
  cursor: pointer;
  position: fixed;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  z-index: 10;
}

#instagramIcon {
  left: 0px;
  top: 420px;
  background-color: rgba(219, 203, 239, 0.4);
  border-radius: 0% 0% 0% 0%;
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
}

#telegramIcon {
  left: 0px;
  top: 350px;
  background-color: rgba(219, 203, 239, 0.4);
  border-radius: 0% 30% 0% 0%;
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
}

#whatsappIcon {
  left: 0px;
  top: 490px;
  background-color: rgba(219, 203, 239, 0.4);
  border-radius: 0% 0% 30% 0%;
  padding: 20px;
  margin-bottom: 10px;
}

@media (max-width: 1140px) {
  #instagramIcon,
  #telegramIcon,
  #whatsappIcon {
    background-color: rgb(204, 191, 226);
    padding-top: 8px;
    padding-bottom: 16px;
  }
}

#instagramIcon a,
#telegramIcon a,
#whatsappIcon a {
  display: block;
  width: 100%;
  height: 100%;
}

#instagramIcon svg,
#telegramIcon svg,
#whatsappIcon svg {
  fill: #083d77;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#instagramIcon:hover,
#telegramIcon:hover,
#whatsappIcon:hover {
  transform: scale(1);
  background-color: rgba(255, 255, 255, 0.4);
}

#instagramIcon:hover svg,
#telegramIcon:hover svg,
#whatsappIcon:hover svg {
  filter: brightness(2.5);
  transform: scale(1.5);
}
.blocks {
  display: flex;
  flex-direction: column;
  padding: 80px;
}
canvas {
  position: fixed;
  display: block;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (max-width: 980px) {
  .blocks {
    padding: 10px;
    padding-bottom: 60px;
  }
  .portfolio {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.title1 {
  padding-bottom: 1.5%;
}
.title1 h2 {
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
}

.title2 {
  padding-top: 3%;
  padding-bottom: 1.5%;
  z-index: 1;
}
.title2 h2 {
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
}
.portfolio {
  display: flex;
  background: transparent;
  font-family: "Comfortaa", sans-serif;
  /* -ms-grid-column-align: repeat(auto-fit, minmax(300px, 1fr)); */
  gap: 20px;
  padding-top: 1.5%;
}
@media (max-width: 980px) {
  .portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.port {
  display: grid;
  /* background: transparent; */
  font-family: "Comfortaa", sans-serif;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  gap: 20px;
  border-radius: 12px;
  /* overflow: auto; */
  /* padding-top: 1.5%; */
}

.portfolio-item {
  /* border: 2px solid #ccc; */
  /* border-radius: 12px; */
  overflow: auto;
  transition: transform 0.3s ease;
  backdrop-filter: blur(4px);
}

.portfolio-item img {
  width: 100%;
  height: auto;
}

.portfolio-item:hover {
  transform: scale(1.05);
}

.portfolio-item .description {
  padding: 15px;
  text-align: left;
}

.portfolio-item .description h3 {
  margin: 0;
  height: 85px;
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
}

.portfolio-item .description p {
  margin: 10px 0 0;
  font-size: 1em;
  font-weight: 300;
  font-weight: lighter;
  color: #fff;
}

.border-animation {
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, red, yellow, green, blue);
  animation: border-anim 4s infinite linear;
}

@keyframes border-anim {
  0% {
    border-image-source: linear-gradient(45deg, red, yellow, green, blue);
  }
  25% {
    border-image-source: linear-gradient(45deg, yellow, green, blue, red);
  }
  50% {
    border-image-source: linear-gradient(45deg, green, blue, red, yellow);
  }
  75% {
    border-image-source: linear-gradient(45deg, blue, red, yellow, green);
  }
  100% {
    border-image-source: linear-gradient(45deg, red, yellow, green, blue);
  }
}

.portfolio-item2 {
  width: -webkit-fill-available;
  border: 2px solid #ccc;
  border-radius: 12px;
  overflow: auto;
  transition: transform 0.3s ease;
  backdrop-filter: blur(4px);
}

.portfolio-item2 img {
  width: 100%;
  height: auto;
}

.portfolio-item2:hover {
  transform: scale(1.05);
}

.portfolio-item2 .description {
  padding: 15px;
  text-align: left;
}

.portfolio-item2 .description h3 {
  margin: 0;
  height: 85px;
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
}

.portfolio-item2 .description p {
  margin: 10px 0 0;
  font-size: 1em;
  font-weight: 300;
  font-weight: lighter;
  color: #fff;
}

.portfolio-item3 {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  border: 2px solid #ccc;
  border-radius: 12px;
  /* overflow: auto; */
  transition: transform 0.3s ease;
  backdrop-filter: blur(4px);
  position: relative;
  height: 100%;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.portfolio-item3::after,
.portfolio-item3::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    /* transparent 5%, */ rgba(219, 231, 49, 0.5),
    rgba(116, 231, 49, 0.5),
    rgba(231, 189, 49, 0.5)
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 4px;
  border-radius: 12px;
  filter: blur(1.5rem);
  animation: 3s spin linear infinite;
}

.portfolio-item3::before {
  filter: blur(11.5rem);
  border-radius: 12px;
  opacity: 0.5;
}

/* @keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
} */

.portfolio-item3 img {
  width: 50%;
  border-radius: 0px 12px 12px 0px;
  height: auto;
}

/* .portfolio-item3:hover {
  transform: scale(1.05);
} */

.portfolio-item3 .description {
  width: 50%;
  padding: 15px;
  text-align: left;
  border-radius: 12px 0px 0px 12px;
  background: rgba(11, 2, 32, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.portfolio-item3 .description h3 {
  margin: 0;
  height: 85px;
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
}

.portfolio-item3 .description p {
  margin: 10px 0 0;
  font-size: 1em;
  font-weight: 300;
  font-weight: lighter;
  color: #fff;
}
@media (max-width: 980px) {
  .title1 h2,
  .title2 h2 {
    font-size: 1.5rem;
  }
  .portfolio-item .description h3,
  .portfolio-item2 .description h3,
  .portfolio-item3 .description h3 {
    font-size: 1em;
    height: auto;
  }

  .portfolio-item .description p,
  .portfolio-item2 .description p,
  .portfolio-item3 .description p {
    font-size: 0.5em;
  }
}
@media (max-width: 980px) {
  .portfolio-item3 {
    flex-direction: column;
  }
  .portfolio-item3 img {
    width: 100%;
  }
  .portfolio-item3 .description {
    padding-left: 45px;
    width: 100%;
  }
  .s_icons {
    display: flex;
    justify-content: center;
    position: fixed;
    top: auto;
    left: 25%;
    z-index: 2;
    gap: 4px;
  }
  .social-icon {
    position: static;
  }
  #instagramIcon {
    border-radius: 0% 0% 0% 20%;
  }

  #telegramIcon {
    border-radius: 0% 0% 0% 0%;
  }

  #whatsappIcon {
    border-radius: 0% 0% 20% 0%;
  }
}

.popup {
  display: none; /* Скрываем попап по умолчанию */
  position: fixed;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  max-width: 95vw;
  max-height: 95vh;
  padding: 20px;
  background: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.popup.active {
  display: grid;
  /* Показываем попап, если у него есть класс active */
}
.overlay {
  display: none; /* Скрываем overlay по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.overlay.active {
  display: block; /* Показываем overlay, если у него есть класс active */
  backdrop-filter: blur(4px);
}
.imgpres {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.btnclspp {
  gap: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.close {
  text-transform: uppercase;
}
h2,
p {
  padding-top: 20px;
  padding-bottom: 16px;
}
.link {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.rainbow-button {
  width: calc(16vw + 6px);
  height: calc(4vw + 6px);
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: bold;
}
.rainbow-button:after {
  content: attr(alt);
  width: 16vw;
  height: 4vw;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rainbow-button:hover {
  animation: slidebg 2s linear infinite;
}
@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
.btncont {
  padding: 1em 2em;
  background-color: #080514;
  border: none;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btncont::after {
  content: "";
  position: absolute;
  height: 107%;
  width: 102%;
  border-radius: 4px;
  background-image: linear-gradient(to bottom right, #4423b9, #b61f89);
  z-index: -1;
}
.btncont:hover {
  z-index: 0;
  color: #fff;
  box-shadow: 40px 0 100px #4323b96b, -40px 0 100px #b61f8977;
}
.button_main {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}
.button {
  position: relative;
  padding: 12px 35px;
  background: var(--color);
  width: fit-content;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
  color: #181818;
  border: 3px solid var(--color);
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

.button:hover {
  background: transparent;
  color: var(--color);
  box-shadow: 0 0 25px #fec1958c;
}

.button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}
