@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Rubik+Moonrocks&display=swap");
.maintext {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}
.glitch_a {
  color: rgb(255, 255, 255);
  font-size: 100px;
  position: relative;
  width: max-content;
  margin: 0 auto;
  font-family: "Rubik Moonrocks", sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

@keyframes noise-anim {
  0% {
    clip: rect(59px, 9999px, 10px, 0);
  }
  5% {
    clip: rect(38px, 9999px, 70px, 0);
  }
  10% {
    clip: rect(28px, 9999px, 8px, 0);
  }
  15% {
    clip: rect(38px, 9999px, 93px, 0);
  }
  20% {
    clip: rect(4px, 9999px, 41px, 0);
  }
  25% {
    clip: rect(81px, 9999px, 2px, 0);
  }
  30% {
    clip: rect(92px, 9999px, 7px, 0);
  }
  35% {
    clip: rect(87px, 9999px, 89px, 0);
  }
  40% {
    clip: rect(89px, 9999px, 76px, 0);
  }
  45% {
    clip: rect(50px, 9999px, 97px, 0);
  }
  50% {
    clip: rect(75px, 9999px, 90px, 0);
  }
  55% {
    clip: rect(25px, 9999px, 39px, 0);
  }
  60% {
    clip: rect(53px, 9999px, 28px, 0);
  }
  65% {
    clip: rect(92px, 9999px, 26px, 0);
  }
  70% {
    clip: rect(29px, 9999px, 55px, 0);
  }
  75% {
    clip: rect(41px, 9999px, 39px, 0);
  }
  80% {
    clip: rect(86px, 9999px, 86px, 0);
  }
  85% {
    clip: rect(69px, 9999px, 100px, 0);
  }
  90% {
    clip: rect(89px, 9999px, 57px, 0);
  }
  95% {
    clip: rect(24px, 9999px, 41px, 0);
  }
  100% {
    clip: rect(41px, 9999px, 53px, 0);
  }
}
.glitch_a:after {
  content: attr(data-text);
  position: absolute;
  width: max-content;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: rgb(255, 255, 255);
  background: rgb(8, 2, 23);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
  text-align: center;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(12px, 9999px, 18px, 0);
  }
  5% {
    clip: rect(72px, 9999px, 95px, 0);
  }
  10% {
    clip: rect(24px, 9999px, 29px, 0);
  }
  15% {
    clip: rect(25px, 9999px, 65px, 0);
  }
  20% {
    clip: rect(36px, 9999px, 74px, 0);
  }
  25% {
    clip: rect(15px, 9999px, 71px, 0);
  }
  30% {
    clip: rect(45px, 9999px, 27px, 0);
  }
  35% {
    clip: rect(4px, 9999px, 56px, 0);
  }
  40% {
    clip: rect(63px, 9999px, 3px, 0);
  }
  45% {
    clip: rect(20px, 9999px, 27px, 0);
  }
  50% {
    clip: rect(14px, 9999px, 91px, 0);
  }
  55% {
    clip: rect(84px, 9999px, 58px, 0);
  }
  60% {
    clip: rect(77px, 9999px, 57px, 0);
  }
  65% {
    clip: rect(20px, 9999px, 61px, 0);
  }
  70% {
    clip: rect(86px, 9999px, 16px, 0);
  }
  75% {
    clip: rect(23px, 9999px, 30px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 16px, 0);
  }
  85% {
    clip: rect(92px, 9999px, 12px, 0);
  }
  90% {
    clip: rect(40px, 9999px, 17px, 0);
  }
  95% {
    clip: rect(24px, 9999px, 99px, 0);
  }
  100% {
    clip: rect(34px, 9999px, 61px, 0);
  }
}
.glitch_a:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: rgb(255, 255, 255);
  background: rgb(8, 2, 23);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
  text-align: center;
}
