body {
  margin: 0;
  padding: 0;
  /* display: block; */
  overflow: auto;
  height: 100%;
  /* background: url(Desktop_main.png); */
  background-color: rgba(25, 4, 75, 0.5);
}

#spiderCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/* @media (max-width: 600px) {
  #spiderCanvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
  }
} */

.social-icon {
  cursor: pointer;
  position: fixed;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  z-index: 10;
}

#instagramIcon {
  left: 0px;
  top: 420px;
  background-color: rgba(219, 203, 239, 0.4);
  border-radius: 0% 0% 0% 0%;
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
}

@media (max-width: 1140px) {
  #instagramIcon {
    background-color: rgba(231, 229, 231, 0.5);
    /* top: 630px; */
  }
}

#telegramIcon {
  left: 0px;
  top: 350px;
  background-color: rgba(219, 203, 239, 0.4);
  border-radius: 0% 30% 0% 0%;
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
}

@media (max-width: 1140px) {
  #telegramIcon {
    background-color: rgba(231, 229, 231, 0.5);
    /* top: 560px; */
  }
}

#whatsappIcon {
  left: 0px;
  top: 490px;
  background-color: rgba(219, 203, 239, 0.4);
  border-radius: 0% 0% 30% 0%;
  padding: 20px;
  margin-bottom: 10px;
}

@media (max-width: 1140px) {
  #whatsappIcon {
    background-color: rgba(231, 229, 231, 0.5);
    /* top: 700px; */
  }
}

#instagramIcon a,
#telegramIcon a,
#whatsappIcon a {
  display: block;
  width: 100%;
  height: 100%;
}

#instagramIcon svg,
#telegramIcon svg,
#whatsappIcon svg {
  fill: #083d77;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#instagramIcon:hover,
#telegramIcon:hover,
#whatsappIcon:hover {
  transform: scale(1);
  background-color: rgba(255, 255, 255, 0.4);
}

#instagramIcon:hover svg,
#telegramIcon:hover svg,
#whatsappIcon:hover svg {
  filter: brightness(2.5);
  transform: scale(1.5);
}
.blocks {
  display: flex;
  flex-direction: column;
  padding: 80px;
}
canvas {
  position: fixed;
  display: block;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (max-width: 980px) {
  .blocks {
    padding: 10px;
    padding-bottom: 60px;
  }
  .portfolio {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.portfolio {
  display: grid;
  background: transparent;
  font-family: "Rubik Moonrocks", sans-serif;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.portfolio-item {
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: auto;
  transition: transform 0.3s ease;
}

.portfolio-item img {
  width: 100%;
  height: auto;
}

.portfolio-item:hover {
  transform: scale(1.05);
}

.portfolio-item .description {
  padding: 15px;
  text-align: center;
}

.portfolio-item .description h3 {
  margin: 0;
  font-size: 1.5em;
  color: #fff;
}

.portfolio-item .description p {
  margin: 10px 0 0;
  font-size: 1em;
  color: #666;
}
