.social-icon {
  cursor: pointer;
  position: fixed;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  z-index: 100000 !important;
}

#instagramIcon {
  left: 0px;
  top: 420px;
  background-color: rgba(219, 203, 239, 0.4);
  border-radius: 0% 0% 0% 0%;
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
}

@media (max-width: 980px) {
  #instagramIcon {
    background-color: rgba(180, 29, 141, 0.05);
  }
}

#telegramIcon {
  left: 0px;
  top: 350px;
  background-color: rgba(219, 203, 239, 0.4);
  border-radius: 0% 30% 0% 0%;
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
}

@media (max-width: 980px) {
  #telegramIcon {
    background-color: rgba(180, 29, 141, 0.05);
  }
}

#whatsappIcon {
  left: 0px;
  top: 490px;
  background-color: rgba(219, 203, 239, 0.4);
  border-radius: 0% 0% 30% 0%;
  padding: 20px;
  margin-bottom: 10px;
}

@media (max-width: 980px) {
  #whatsappIcon {
    background-color: rgba(180, 29, 141, 0.05);
  }
}

#instagramIcon a,
#telegramIcon a,
#whatsappIcon a {
  display: block;
  width: 100%;
  height: 100%;
}

#instagramIcon svg,
#telegramIcon svg,
#whatsappIcon svg {
  fill: #083d77;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#instagramIcon:hover,
#telegramIcon:hover,
#whatsappIcon:hover {
  transform: scale(1);
  background-color: rgba(255, 255, 255, 0.4);
}

#instagramIcon:hover svg,
#telegramIcon:hover svg,
#whatsappIcon:hover svg {
  filter: brightness(2.5);
  transform: scale(1.5);
}
canvas {
  display: block;
  background-image: url(https://previews.dropbox.com/p/thumb/ACMc6jmjzg3q5UVP3WBQpzxdGil27OGziIFb3YIYwVIcuYYhr0pKSdjMjNc2gRRYzTFF4YbdQAcZHygs7jyEwtybPMGWylplKBQlzewNMA7ZM9M3BXTsaEhURnv-sqSi_pgW9GJ3QXLpsoyJe_-E4-J_usI2jXXch1Stj5-FDnruEd1bewF5c2OwmWL0OfO3AsCgYDosW_E4XiiD8rshzs_FS44w763yIZeE_HNQh6VTQfNgGmq8-wR0PahfCu1AaT8H0ykzI505I9EfOIhNacDpvrq9r7c8Vk7tOHZgg3vun4Blyz3yZ67jN_gscJl-ocfJWtMksqbPAhEMSfqTcZjK/p.jpeg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
