.social-icon {
  cursor: pointer;
  position: fixed;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  z-index: 10;
}

#instagramIcon {
  left: 0px;
  top: 420px;
  background-color: rgba(219, 203, 239, 0.4);
  border-radius: 0% 0% 0% 0%;
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
}

@media (max-width: 1140px) {
  #instagramIcon {
    background-color: rgba(231, 229, 231, 0.5);
    top: 630px;
  }
}

#telegramIcon {
  left: 0px;
  top: 350px;
  background-color: rgba(219, 203, 239, 0.4);
  border-radius: 0% 30% 0% 0%;
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
}

@media (max-width: 1140px) {
  #telegramIcon {
    background-color: rgba(231, 229, 231, 0.5);
    top: 560px;
  }
}

#whatsappIcon {
  left: 0px;
  top: 490px;
  background-color: rgba(219, 203, 239, 0.4);
  border-radius: 0% 0% 30% 0%;
  padding: 20px;
  margin-bottom: 10px;
}

@media (max-width: 1140px) {
  #whatsappIcon {
    background-color: rgba(231, 229, 231, 0.5);
    top: 700px;
  }
}

#instagramIcon a,
#telegramIcon a,
#whatsappIcon a {
  display: block;
  width: 100%;
  height: 100%;
}

#instagramIcon svg,
#telegramIcon svg,
#whatsappIcon svg {
  fill: #083d77;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#instagramIcon:hover,
#telegramIcon:hover,
#whatsappIcon:hover {
  transform: scale(1);
  background-color: rgba(255, 255, 255, 0.4);
}

#instagramIcon:hover svg,
#telegramIcon:hover svg,
#whatsappIcon:hover svg {
  filter: brightness(2.5);
  transform: scale(1.5);
}
canvas {
  display: block;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* @media (max-width: 980px;) {
  #canvas {
  }
} */
